{% extends "master.html" %}

{% block content %}
    <div class="container" style="background-color: #8d8585; border-radius: 30px; padding: 20px; margin-top: 20px;">
        <div class="jumbotron text-center" style="background-color: #266b2e; border-radius: 30px; color: white;">
            <h1 class="display-4">Create New Post</h1>
        </div>
        <form method="POST">
            {% csrf_token %}
            {{blog_form}}
            <button type="submit" class="submitform">Submit</button>
            
        </form>
{% endblock %}