{% extends "master.html" %}

{% block content %}
    <div class="container" style="background-color: #8d8585; border-radius: 30px; padding: 20px; margin-top: 20px;">
        <div class="jumbotron text-center" style="background-color: #266b2e; border-radius: 30px; color: white;">
            <h1 class="display-4">Post Details</h1>

        </div>
        {% if post %}
        <div class="card" style="background-color: #266b2e; border-radius: 30px; color: white; ">
            <div class="card-header bg-success" style="border-radius: 30px 30px 0 0;">
                <h5 class="card-title">{{ post.post_title }}</h5>
            </div>
            <div class="card-body">

                <p class="card-text">{{ post.post_body }}</p>
                <br>
                <p class="text-muted" style=" color:white">by: {{ post.post_author }}</p>
            </div>
            <div class="card-footer text-muted" style=" color:white">
                {{ post.post_created }}
            </div>
        </div>
        <hr>
        {% else %}
        <p style=" color:white">No posts available.</p>
        {% endif %}
        <a href="{% url 'updatepost' post.id %}" class="btn btn-warning btn-lg" role="button" aria-pressed="true">Edit</a>|
        <a href="{% url 'deletepost' post.id %}" class="btn btn-danger btn-lg" role="button" aria-pressed="true">Delete</a>
    </div>
{% endblock %}